
@{
    ViewData["Title"] = "Index";
}

<h2>ONLY THE SEXY PEOPLE CAN VIEW THIS.</h2>
<p>Cover girl,<br />
    Put the bass in your walk.<br />
    Head to toe,<br />
    Let your whole body talk.
    </p>

