@using UserRoles.Models.AdminViewModels
@model List<ViewUsersViewModel>

<h2>Manage These People </h2>
<table>
    
@foreach (var thing in Model)

{<tr>
    <td>
    @thing.Username 
        </td>
    <td><a href="#">Edit Information</a></td>
    
    </tr>

}
    </table>
